body {
  margin: 0;
  margin-top: 50px;
  background: #f8f8f8;
  font-size: 15px; }

a {
  text-decoration: none;
  font-weight: bold;
  transition: color .5s; }

a,
a:visited {
  color: #b13a32; }

a:hover {
  color: #222; }

h1,
h2,
h3,
h4,
a {
  font-family: "Nunito", sans-serif; }

p,
p a,
li {
  font-family: 'Raleway'; }

h1 {
  font-size: 32px;
  text-transform: uppercase; }

h2 {
  font-size: 26px; }

h3 {
  display: inherit;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 17px; }

h4 {
  margin: 0;
  font-size: 16px; }

p {
  line-height: 1.5em; }

.container {
  display: flex;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  flex-direction: column; }

.breakup {
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  opacity: 0.8; }

.section {
  margin-bottom: 3rem;
  margin-top: 1rem; }

.page-header {
  border-bottom: solid 8px #b13a32;
  width: 100%;
  background: #222;
  height: 400px;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr auto auto 15px;
  grid-template-columns: 1fr 1000px 1fr; }
  .page-header img {
    opacity: .8;
    grid-row: 1 / 5;
    grid-column: 1 / span 3;
    width: 100%;
    min-height: 100%;
    z-index: 0;
    object-fit: cover; }
  .page-header h1,
  .page-header h3 {
    grid-column: 2 / span 1;
    z-index: 100;
    color: #f8f8f8;
    text-shadow: 0 0 40px #222;
    margin: 0; }
  .page-header h1 {
    grid-row: 2/ span 1; }
  .page-header h3 {
    grid-row: 3/ span 1; }

.page-content {
  margin: 40px 0; }
  .page-content p {
    margin-bottom: 1rem; }
    .page-content p a {
      margin: 0 0.1ex; }
  .page-content h2 {
    margin-bottom: 1rem; }
  .page-content img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px; }

.background-image {
  width: 100%;
  background: url("/assets/wall-cow.jpg");
  background-size: cover;
  background-position: bottom; }

.breakup {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.wrapper {
  background-color: rgba(34, 34, 34, 0.65); }

.nav {
  box-shadow: 0 0 5px rgba(34, 34, 34, 0.4);
  transition: height .25s;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #f8f8f8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-top: solid 8px #b13a32; }
  .nav h1,
  .nav h3,
  .nav ul {
    margin-top: 0;
    margin-bottom: 0; }
  .nav a,
  .nav a:visited {
    color: #222; }
  .nav a:hover {
    color: #b13a32; }
  .nav .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .nav #nav-title {
    display: flex;
    align-items: baseline; }
  .nav h1 {
    transition: font-size .25s; }
  .nav h3 {
    margin-left: 5px; }
  .nav li {
    display: inline;
    margin-left: 15px; }
  .nav .links {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    text-transform: uppercase; }
  .nav .social {
    margin-left: 15px; }
  .nav .social-link {
    display: inline-block;
    z-index: 1;
    transition: none; }
  .nav .social-icon {
    z-index: -1;
    position: relative;
    margin-left: 5px;
    width: 18px;
    height: 18px;
    bottom: -2px;
    pointer-events: none;
    fill: #222;
    transition: all .25s; }
  .nav .social-link:hover .social-icon {
    fill: #b13a32; }

.shrink h1 {
  font-size: 20px; }

.cover {
  border-bottom: solid 8px #b13a32; }
  .cover a,
  .cover a:visited {
    color: #f8f8f8; }
  .cover .container {
    flex-direction: column;
    min-height: 89vh;
    min-height: 650px;
    justify-content: space-between; }
  .cover .front-matter {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between; }
  .cover .info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: center; }
    .cover .info a {
      padding-left: 5px; }
    .cover .info a:not(:last-child):after {
      color: #b13a32;
      padding-left: 5px;
      content: '|'; }
  .cover .slogan {
    color: #f8f8f8;
    font-size: 35px;
    font-weight: normal;
    margin-top: 50px;
    margin-right: 50px;
    text-align: start;
    letter-spacing: 1px; }
  .cover .logo {
    margin-top: 30px;
    width: 375px;
    height: 375px; }

.chalkboard {
  margin-top: 20px;
  max-width: 400px;
  color: #f8f8f8; }
  .chalkboard h2 {
    display: inline-block;
    color: #f8f8f8;
    background: #b13a32;
    padding: 5px 8px;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .chalkboard p {
    font-size: 17px; }
  .chalkboard a:hover {
    color: #b13a32; }

.banner {
  position: relative;
  background: #222;
  color: #f8f8f8;
  margin: 0;
  padding: 40px;
  border-bottom: solid 8px #b13a32; }
  .banner a {
    color: #f8f8f8; }
  .banner h2 {
    color: #222;
    text-transform: uppercase;
    font-style: bold;
    font-size: 26px;
    margin: auto;
    background: #f8f8f8;
    padding: 5px 8px;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .banner h3 {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: .25rem;
    padding-top: 20px; }
  .banner p {
    grid-column: 1;
    margin: 0; }
  .banner img {
    max-width: 400px;
    opacity: .2;
    position: relative;
    top: 50px;
    right: 100px; }

.google-map {
  height: 60vh;
  width: 100%; }

.mobile {
  display: none; }

.about-snippets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

.about,
.menu {
  background: #f8f8f8;
  color: #222; }
  .about a,
  .about a:visited,
  .menu a,
  .menu a:visited {
    color: inherit; }

.menu .menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 20px;
  padding: 0;
  padding-bottom: 1rem; }

.menu .menu-item .name {
  display: block;
  margin-bottom: .25rem;
  font-weight: bold; }

.menu .menu-item .info {
  display: block; }

.menu .menu-item p {
  margin: 0; }

.menu h3 {
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: bold; }

.menu .note,
.menu .info {
  font-style: italic; }

.menu .ibu:before {
  content: " - "; }

footer {
  border-bottom: solid 8px #b13a32;
  color: #222; }
  footer a,
  footer a:visited {
    color: #222;
    font-weight: normal; }
  footer a:hover {
    color: #b13a32; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px; }
  .footer a {
    font-family: "Raleway", sans-serif; }
  .footer h3 {
    font-size: 15px;
    margin-bottom: 15px;
    font-weight: bold; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .footer ul li {
      margin-left: 0;
      padding: 0;
      margin-bottom: 3px; }
  .footer .footer-logo {
    margin-top: 20px;
    margin-left: -10px;
    width: 100px;
    height: 100px; }
  .footer .footer-hours span {
    display: inline-block;
    width: 100px; }

@media (max-width: 1300px) {
  .cover .front-matter {
    margin-top: 120px; }
  .cover .logo {
    width: 300px;
    height: 300px; }
  .cover #slogan {
    font-size: 25px; }
  .container {
    width: 800px; }
  .page-header {
    grid-template-columns: 1fr 800px 1fr; } }

@media (max-width: 1000px) {
  .container {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px; }
  .page-header {
    width: 100%;
    grid-template-columns: 90px 1fr 90px; }
  .cover .chalkboard {
    text-align: center;
    margin-bottom: 40px; }
  .cover .front-matter {
    flex-direction: column;
    width: 100%;
    padding: 0;
    align-items: center; }
  .cover .container {
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .cover .info {
    width: 100%;
    margin-bottom: 25px; }
  .cover .logo {
    width: 250px;
    height: 250px;
    margin-top: 40px;
    margin-left: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-top: 70px;
    margin-right: 0;
    text-align: center; }
  .daily-specials .specials {
    grid-template-columns: 1fr; }
  .nav h3 {
    display: none; } }

@media (max-width: 680px) {
  .mobile {
    display: inherit; }
  .page-header {
    grid-template-columns: 50px 1fr 50px;
    height: 270px; }
  .page-content img {
    height: 150px; }
  .nav {
    flex-direction: column;
    padding: 0; }
    .nav .container {
      padding: 25px 0;
      flex-direction: column;
      align-items: center;
      transition: all .25s;
      height: 220px; }
    .nav .collapsed {
      padding: 0;
      height: 0;
      overflow: hidden; }
    .nav a {
      font-size: 25px; }
    .nav .nav-title {
      margin-bottom: 10px; }
      .nav .nav-title h1 {
        font-size: 30px;
        color: #b13a32; }
    .nav .links {
      flex-direction: column;
      align-items: center; }
    .nav .navigation {
      margin-bottom: 5px; }
      .nav .navigation ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .nav .navigation ul li {
          margin: 3px 0; }
    .nav .social {
      padding: 0;
      margin: 15px 0; }
      .nav .social .social-icon {
        width: 25px;
        height: 25px;
        margin: 0 7px; }
    .nav .toggleSwitch {
      padding: 15px; }
      .nav .toggleSwitch img {
        width: 40px; }
  .cover .chalkboard h3 {
    font-size: 20px; }
  .cover .logo {
    width: 210px;
    height: 210px;
    margin-top: 90px;
    margin-bottom: 0px; }
  .cover .container {
    box-sizing: border-box;
    justify-content: space-between;
    height: 100vh; }
  .cover .front-matter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding: 0; }
  .cover .cover-text {
    text-align: center; }
  .cover .slogan {
    margin-top: 25px;
    font-size: 25px;
    margin-right: 0;
    text-align: center; }
  .cover h1 {
    margin-top: 20px;
    font-size: 48px; }
  .cover h3 {
    font-size: 30px;
    text-align: center; }
  .cover .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .cover .info a {
      display: block;
      margin-bottom: 5px;
      padding: 0; }
    .cover .info a:not(:last-child):after {
      content: none; }
  .container {
    padding: 0 50px; }
  .menu .menu-items {
    grid-template-columns: 1fr; }
  .menu ul {
    grid-template-columns: 1fr;
    grid-row-gap: 15px; }
  .about-snippets {
    grid-template-columns: 1fr; }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .footer .footer-logo {
      display: none; }
    .footer * {
      margin-bottom: 20px;
      text-align: center; }
    .footer li span {
      margin: 0; } }
