.space {
  height: 75px;
  background: #222; }

body {
  margin: 0; }
  body * {
    font-size: 15px;
    margin: 0; }
  body a {
    text-decoration: none;
    font-weight: bold; }
  body h1, body h2, body h3, body h4, body a {
    font-family: 'Roboto Slab', 'serif'; }
  body p, body p a, body li {
    font-family: 'Raleway'; }
  body h1 {
    font-size: 32px; }
  body h2 {
    font-size: 24px; }
  body h3 {
    display: inherit;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px; }
  body p {
    line-height: 1.5em; }

.container {
  display: flex;
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  flex-direction: column; }

.breakup {
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  opacity: 0.8; }

.section {
  margin-bottom: 3rem;
  margin-top: 1rem; }

h2 {
  position: relative; }
  h2 span {
    position: absolute;
    top: -100px; }

.page-header {
  width: 100%;
  background: #222;
  height: 400px;
  display: grid;
  overflow: hidden;
  grid-template-rows: 1fr auto auto 15px;
  grid-template-columns: 1fr 1000px 1fr; }
  .page-header img {
    opacity: .6;
    grid-row: 1 / -1;
    grid-column: 1 / span 3;
    object-fit: cover;
    width: 100%;
    z-index: 0; }
  .page-header h1, .page-header h3 {
    grid-column: 2 / span 1;
    z-index: 100;
    color: #eee; }
  .page-header h1 {
    grid-row: 2/ span 1; }
  .page-header h3 {
    grid-row: 3/ span 1; }

.page-content {
  margin: 40px 0; }
  .page-content p {
    margin-bottom: 1rem; }
    .page-content p a {
      margin: 0 0.5ex; }
  .page-content h2 {
    margin-bottom: 1rem; }
  .page-content img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    margin-bottom: 1rem;
    border-radius: 5px; }

.background-image {
  width: 100%;
  background: url("/assets/wall-cow.jpg");
  background-size: cover;
  background-position: bottom; }

.breakup {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.wrapper {
  background-color: rgba(34, 34, 34, 0.65); }

.nav {
  box-shadow: 0 0 5px #222;
  transition: height .25s;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 20px;
  background: #222;
  color: #eee;
  position: fixed;
  width: 100%;
  z-index: 1000;
  font-family: "Roboto Slab", serif; }
  .nav a, .nav a:visited {
    color: #eee; }
  .nav .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .nav #nav-title {
    display: flex;
    align-items: baseline; }
  .nav a {
    text-decoration: none; }
  .nav h1 {
    transition: font-size .25s; }
  .nav h3 {
    margin-left: 5px; }
  .nav li {
    display: inline;
    margin-left: 15px; }
  .nav .links {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  .nav .social {
    margin-left: 10px; }
    .nav .social ul {
      padding: 0;
      margin: 0; }
      .nav .social ul li {
        padding: 0;
        margin: 0 4px; }
    .nav .social img {
      width: 15px;
      height: 15px; }

.shrink h1 {
  font-size: 20px; }

.cover {
  color: #eee; }
  .cover a, .cover a:visited {
    color: #eee; }
  .cover .container {
    flex-direction: column;
    height: 89vh;
    min-height: 650px;
    justify-content: space-between; }
  .cover .front-matter {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between; }
  .cover .info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: center; }
    .cover .info a {
      text-decoration: none; }
    .cover .info * {
      display: flex;
      padding-right: 5px; }
    .cover .info *:not(:last-child):after {
      content: ' | '; }
  .cover h4 {
    font-family: 'Gloria Hallelujah';
    font-size: 40px;
    margin-top: 0;
    color: #6dcff6;
    text-shadow: 0 0 2px #6dcff6; }
  .cover .slogan {
    font-size: 35px;
    font-weight: normal;
    margin-top: 50px;
    margin-right: 50px;
    text-align: start;
    letter-spacing: 1px; }
  .cover .logo {
    width: 375px;
    height: 375px; }

.google-map {
  height: 60vh;
  width: 100%; }

.mobile {
  display: none; }

.home {
  background: #222; }
  .home * {
    color: #eee; }
  .home a, .home a:visited {
    color: #eee; }

.about-snippets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

.about, .menu {
  background: #eee;
  color: #222; }
  .about a, .about a:visited, .menu a, .menu a:visited {
    color: #222; }

.menu .section {
  margin: 0; }
  .menu .section:nth-child(2n+1) {
    background: #222;
    color: #eee; }
    .menu .section:nth-child(2n+1) .callout {
      color: #6dcff6; }

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  padding: 0;
  padding-bottom: 1rem; }

.menu li {
  list-style: none; }

.menu h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: bold;
  text-align: center; }

.menu h4 {
  margin-top: 2rem;
  margin-bottom: .5rem; }

.menu p {
  font-style: italic; }

.menu strong {
  display: block;
  margin-bottom: .25rem; }

.callout {
  height: 0;
  width: 100%;
  text-align: right; }
  .callout h4 {
    position: relative;
    transform: rotate(7deg) translateY(-80px);
    font-family: "Gloria Hallelujah";
    font-size: 40px; }

.login form {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.login input {
  color: #eee;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 1px;
  border: 2px solid #eee;
  background-color: #222; }
  .login input:focus {
    color: #222;
    background-color: #eee;
    outline: none; }

.login .submit {
  background: #eee;
  color: #222;
  cursor: pointer !important; }

footer {
  background: #222;
  color: #eee; }
  footer a, footer a:visited {
    color: #eee;
    font-weight: normal; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px; }
  .footer h3 {
    font-size: 15px;
    margin-bottom: 15px; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .footer ul li {
      margin-left: 0;
      padding: 0;
      margin-bottom: 3px; }
  .footer .footer-logo {
    width: 100px;
    height: 100px; }

@media (max-width: 1300px) {
  .container {
    width: 800px; }
  .page-header {
    grid-template-columns: 1fr 800px 1fr; }
  .cover .logo {
    width: 300px;
    height: 300px; }
  .cover #slogan {
    font-size: 25px; } }

@media (max-width: 1000px) {
  .container {
    width: 100%;
    padding-left: 90px;
    padding-right: 90px; }
  .page-header {
    width: 100%;
    grid-template-columns: 90px 1fr 90px; }
  .cover .front-matter {
    flex-direction: column;
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    align-items: center; }
  .cover .container {
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .cover .info {
    width: 100%;
    margin-bottom: 25px; }
  .cover .logo {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 0;
    text-align: center; }
  .daily-specials .specials {
    grid-template-columns: 1fr; }
  .nav h3 {
    display: none; } }

@media (max-width: 680px) {
  .mobile {
    display: inherit; }
  .nav {
    flex-direction: column;
    padding: 0; }
    .nav .container {
      padding: 25px 0;
      flex-direction: column;
      align-items: center;
      transition: all .25s;
      height: 200px; }
    .nav .collapsed {
      padding: 0;
      height: 0;
      overflow: hidden; }
    .nav a {
      font-size: 25px; }
    .nav .nav-title {
      margin-bottom: 10px; }
      .nav .nav-title h1 {
        font-size: 30px; }
    .nav .links {
      flex-direction: column;
      align-items: center; }
    .nav .navigation {
      margin-bottom: 10px; }
      .nav .navigation ul {
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center; }
        .nav .navigation ul li {
          margin: 0; }
    .nav .social {
      padding: 0;
      margin: 10px 0; }
      .nav .social img {
        width: 25px;
        height: 25px;
        margin: 0 5px; }
    .nav .toggleSwitch {
      padding: 10px; }
      .nav .toggleSwitch img {
        width: 60px; }
  .cover .logo {
    width: 210px;
    height: 210px;
    margin-top: 60px;
    margin-bottom: 0px; }
  .cover .container {
    box-sizing: border-box;
    justify-content: space-between;
    height: 50vh; }
  .cover .front-matter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0;
    padding: 0; }
  .cover .cover-text {
    text-align: center; }
  .cover .slogan {
    margin-top: 25px;
    font-size: 25px;
    margin-right: 0;
    text-align: center; }
  .cover h1 {
    margin-top: 20px;
    font-size: 48px; }
  .cover h3 {
    font-size: 30px;
    text-align: center; }
  .cover .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .cover .info * {
      display: block;
      margin-bottom: 5px;
      padding: 0; }
    .cover .info *:not(:last-child):after {
      content: none; }
  .full-menu .menu-item {
    width: 100%; }
    .full-menu .menu-item:nth-child(n) {
      padding: 0; }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .footer .footer-logo {
      display: none; }
    .footer * {
      margin-bottom: 20px;
      text-align: center; } }
