.space {
  height: 11vh;
  background: #222; }

body {
  margin: 0; }
  body * {
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    margin: 0; }
  body a {
    text-decoration: none;
    font-weight: bold; }
  body h1, body h2, body h3, body h4, body strong {
    font-family: 'Roboto Slab', 'serif'; }
  body h1 {
    font-size: 32px; }
  body h2 {
    font-size: 24px; }
  body h3 {
    display: inherit;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px; }
  body p {
    line-height: 1.5em; }

.container {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 125px;
  flex-direction: column; }

.breakup {
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  opacity: 0.8; }

.section {
  margin-bottom: 3rem;
  margin-top: 1rem; }

h2 {
  position: relative; }
  h2 span {
    position: absolute;
    top: -100px; }

.page-front-matter {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-bottom: 20px;
  justify-content: flex-end;
  color: #eee; }
  .page-front-matter h1 {
    margin: 10px auto; }

.page-content {
  margin: 40px 0; }
  .page-content p {
    margin-bottom: 1rem; }
    .page-content p a {
      margin: 0 0.5ex; }
  .page-content h2 {
    margin-bottom: 1rem; }
  .page-content img {
    width: 100%;
    height: 550px;
    object-fit: cover;
    margin-bottom: 1rem; }

.background-image {
  width: 100%;
  background: url("/assets/Cow.jpg");
  background-size: cover;
  background-position: bottom; }

.breakup {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.wrapper {
  background-color: rgba(34, 34, 34, 0.65); }

.nav {
  box-shadow: 0 0 5px #222;
  transition: height .25s;
  height: 11vh;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px;
  background: #222;
  color: #eee;
  position: fixed;
  width: 100%;
  z-index: 1000; }
  .nav a, .nav a:visited {
    color: #eee; }
  .nav .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .nav #nav-title {
    display: flex;
    align-items: baseline; }
  .nav a {
    text-decoration: none; }
  .nav h1 {
    transition: font-size .25s; }
  .nav h3 {
    margin-left: 5px; }
  .nav li {
    display: inline;
    margin-left: 15px; }
  .nav .links {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  .nav .social {
    margin-left: 10px; }
    .nav .social ul {
      padding: 0;
      margin: 0; }
      .nav .social ul li {
        padding: 0;
        margin: 0 4px; }
    .nav .social img {
      width: 15px;
      height: 15px; }

.shrink {
  height: 0px;
  min-height: 55px; }
  .shrink h1 {
    font-size: 20px; }

.cover {
  color: #eee; }
  .cover a, .cover a:visited {
    color: #eee; }
  .cover .container {
    flex-direction: column;
    height: 89vh;
    min-height: 650px;
    padding: 0 125px;
    justify-content: space-between; }
  .cover .front-matter {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-between; }
  .cover .info {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;
    justify-content: center; }
    .cover .info a {
      text-decoration: none; }
    .cover .info * {
      display: flex;
      padding-right: 5px; }
    .cover .info *:not(:last-child):after {
      content: ' | '; }
  .cover h4 {
    font-family: 'Gloria Hallelujah';
    font-size: 40px;
    margin-top: 0;
    color: #6dcff6;
    text-shadow: 0 0 2px #6dcff6; }
  .cover .slogan {
    font-size: 35px;
    font-weight: normal;
    margin-top: 50px;
    margin-right: 50px;
    text-align: start;
    letter-spacing: 1px; }
  .cover .logo {
    width: 375px;
    height: 375px; }

.google-map {
  height: 60vh;
  width: 100%; }

.mobile {
  display: none; }

.home {
  background: #222; }
  .home * {
    color: #eee; }
  .home a, .home a:visited {
    color: #eee; }

.about-snippets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px; }

.about {
  background: #eee;
  color: #222; }
  .about a, .about a:visited {
    color: #222; }

.menu .section {
  margin: 0; }
  .menu .section:nth-child(2n) {
    background: #222;
    color: #eee; }

.menu ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  padding: 0;
  padding-bottom: 1rem; }

.menu li {
  list-style: none; }

.menu h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-style: bold; }

.menu h4 {
  margin-top: 2rem;
  margin-bottom: .5rem; }

.menu p {
  font-style: italic; }

.menu strong:after {
  content: "\a";
  white-space: pre; }

.login form {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.login input {
  color: #eee;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 1px;
  border: 2px solid #eee;
  background-color: #222; }
  .login input:focus {
    color: #222;
    background-color: #eee;
    outline: none; }

.login .submit {
  background: #eee;
  color: #222;
  cursor: pointer !important; }

footer {
  background: #222;
  color: #eee; }
  footer a, footer a:visited {
    color: #eee; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px; }
  .footer h3 {
    font-size: 15px;
    margin-bottom: 15px; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .footer ul li {
      margin-left: 0;
      padding: 0;
      margin-bottom: 3px; }
  .footer .footer-logo {
    width: 100px;
    height: 100px; }

.daily-specials {
  padding: 40px 0;
  background-image: url("/assets/Chalkboard.jpg");
  background-size: cover;
  overflow: scroll; }
  .daily-specials * {
    font-family: 'Gloria Hallelujah'; }
  .daily-specials h2 {
    font-size: 32px;
    grid-column: 1 / -1; }
  .daily-specials h3 {
    font-size: 24px;
    justify-content: center; }
  .daily-specials h4 {
    font-size: 20px; }
  .daily-specials h3,
  .daily-specials h4 {
    grid-column: 1 / -1; }
  .daily-specials .specials {
    display: grid;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr; }
  .daily-specials .special-section {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300, auto));
    grid-template-rows: 40px;
    grid-auto-rows: minmax(25px, auto); }
  .daily-specials .special-item {
    display: grid;
    grid-template-columns: 1fr 2em; }
  .daily-specials .special-item-category {
    grid-column: 1 / -1;
    grid-row: 1/ auto; }
  .daily-specials .proteins {
    grid-column: 1 / auto;
    grid-row: span 3; }
  .daily-specials .blue, .daily-specials .burritos-paninis, .daily-specials .dinner, .daily-specials .sandwiches, .daily-specials .starches {
    color: #6dcff6; }
    .daily-specials .blue *, .daily-specials .burritos-paninis *, .daily-specials .dinner *, .daily-specials .sandwiches *, .daily-specials .starches * {
      color: #6dcff6; }
  .daily-specials .green, .daily-specials .bar, .daily-specials .fritattas, .daily-specials .lunch, .daily-specials .salads, .daily-specials .sides {
    color: #a3d39c; }
    .daily-specials .green *, .daily-specials .bar *, .daily-specials .fritattas *, .daily-specials .lunch *, .daily-specials .salads *, .daily-specials .sides * {
      color: #a3d39c; }
  .daily-specials .pink, .daily-specials .breakfast, .daily-specials .proteins, .daily-specials .soups {
    color: #f49ac1; }
    .daily-specials .pink *, .daily-specials .breakfast *, .daily-specials .proteins *, .daily-specials .soups * {
      color: #f49ac1; }
  .daily-specials .special-item * {
    color: #eee; }
  .daily-specials input {
    color: #222;
    background: #eee;
    padding: 5px 10px;
    border-color: #222;
    border: 2px solid #222; }
  .daily-specials .button {
    color: #222;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 1px;
    cursor: pointer; }

@media (max-width: 1300px) {
  .container {
    width: 1000px; }
  .cover .logo {
    width: 300px;
    height: 300px; }
  .cover #slogan {
    font-size: 25px; } }

@media (max-width: 1000px) {
  .container {
    width: 100%; }
  .cover .front-matter {
    flex-direction: column;
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    align-items: center; }
  .cover .container {
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .cover .info {
    width: 100%;
    margin-bottom: 25px; }
  .cover .logo {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 0;
    text-align: center; }
  .daily-specials .specials {
    grid-template-columns: 1fr; }
  .nav h3 {
    display: none; } }

@media (max-width: 680px) {
  .nav {
    position: relative; }
  .small {
    display: none; }
  .mobile {
    display: inherit; }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 50px; }
  .toggleSwitch {
    width: 100%;
    justify-content: center;
    margin-top: 15px; }
    .toggleSwitch a {
      color: #eee;
      cursor: pointer;
      font-size: 35px; }
  .cover .logo {
    width: 170px;
    height: 170px;
    margin-top: 25px; }
  .cover .container {
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between; }
  .cover .front-matter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-right: 0;
    text-align: center; }
  .cover h1 {
    margin-top: 20px;
    font-size: 48px; }
  .cover h3 {
    font-size: 30px;
    text-align: center; }
  .cover .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .cover .info * {
      display: block;
      margin-bottom: 5px;
      padding: 0; }
    .cover .info *:not(:last-child):after {
      content: none; }
  .full-menu .menu-item {
    width: 100%; }
    .full-menu .menu-item:nth-child(n) {
      padding: 0; }
  .nav {
    overflow: hidden;
    width: 100%;
    height: 230px;
    padding: 0;
    background: #222; }
    .nav * {
      color: #eee; }
    .nav .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .nav .links {
      flex-direction: column;
      align-items: center; }
    .nav .navigation * {
      font-size: 20px; }
    .nav h1 {
      margin-top: 0;
      margin-bottom: 10px; }
    .nav .navigation ul {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding: 0;
      align-items: center; }
      .nav .navigation ul li {
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 0; }
    .nav .social {
      margin: 0; }
      .nav .social img {
        width: 20px;
        height: 20px; }
  .nav.collapsed {
    height: 0;
    min-height: 0; }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .footer .footer-logo {
      display: none; }
    .footer * {
      margin-bottom: 20px;
      text-align: center; }
  .space {
    display: none; } }
