$green-chalk: #a3d39c;
$blue-chalk: #6dcff6;
$pink-chalk: #f49ac1;
$light: #eee;
$dark: #222;
$page-section-vertical-margin: 40px;
$container-width: 1000px;

.space{
	height: 11vh;
	background: $dark;
}

body {
	margin: 0;

	* {
		font-size: 15px;
		margin: 0;
	}

	a {
		text-decoration: none;
		font-weight: bold;
	}

	h1, h2, h3, h4 ,a{
		font-family: 'Roboto Slab', 'serif';
	}

	p, p a, li{
		font-family: 'Raleway'
	}

	

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		display: inherit;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 17px;
		// margin-bottom: 1rem;
		// margin-top: 1.5rem;
	}

	p {
		line-height: 1.5em;
	}
}

.container {
	display: flex;
	box-sizing: border-box;
	width: 1000px;
	margin: 0 auto;
	flex-direction: column;
}

.breakup {
	max-height: 350px;
	overflow: hidden;
	width: 100%;
	object-fit: cover;
	opacity: 0.8;
}

.section{
	margin-bottom: 3rem;
	margin-top: 1rem;
}

h2{
	position: relative;
	span{
		position: absolute;
		top: -100px;
	}
}

.page-header{
	width: 100%;
	background: $dark;
	height: 400px;
	display: grid;
	// overflow: hidden;

	grid-template-rows: 1fr auto auto 15px;
	grid-template-columns: 1fr 1000px 1fr;

	img{
		opacity: .6;
		grid-row: 1 / -1;
		grid-column: 1 / span 3;
		object-fit: cover;
		width: 100%;
		z-index: 0;
	}

	h1, h3{
		grid-column: 2 / span 1;
		z-index: 100;
		color: $light;
	}

	h1{
		grid-row: 2/ span 1;
	}

	h3{
		grid-row: 3/ span 1;
	}

	.toggleSwitch{
		grid-row: 1;
		grid-column: 2;
		justify-content: center;
		z-index: 200;
	}

	
}

.page-content {
	margin: $page-section-vertical-margin 0;
	

	p {
		margin-bottom: 1rem;

		a {
			margin: 0 0.5ex;
		}
	}

	h2 {
		// margin-top: 2rem;

		margin-bottom: 1rem;
	}

	img{
		width: 100%;
		height: 550px;
		object-fit: cover;
		margin-bottom: 1rem;
		border-radius: 5px;
	}
}

.background-image {
	width: 100%;
	background: url("/assets/Cow.jpg");
	background-size: cover;
	background-position: bottom;
}

.breakup {
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.wrapper {
	background-color: rgba(34, 34, 34, 0.65);
}



.nav {
	box-shadow: 0 0 5px $dark;
	transition: height .25s;
	height: 11vh;
	min-height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 5px;
	background: $dark;
	color: $light;
	position: fixed;
	width: 100%;
	z-index: 1000;

	font-family: "Roboto Slab", serif;

	a, a:visited{
		color:$light
	}

	.container {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	#nav-title {
		display: flex;
		align-items: baseline;
	}

	a {
		text-decoration: none;
	}

	h1{
		transition: font-size .25s;
	}

	h3 {
		margin-left: 5px;
	}

	li {
		display: inline;
		margin-left: 15px;
	}

	.links {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	.social {
		margin-left: 10px;

		ul {
			padding: 0;
			margin: 0;

			li {
				padding: 0;
				margin: 0 4px;
			}
		}

		img {
			width: 15px;
			height: 15px;
			// box-shadow: 0 0 5px $lighteee;
		}
	}
}

.shrink{
	height: 0px;
	min-height: 55px;
	h1{
		font-size: 20px;
	}
}

.cover {

	color: $light;
	
	a, a:visited{
		color: $light;
	}
	.container {
		flex-direction: column;
		height: 89vh;
		min-height: 650px;
		justify-content: space-between;
	}

	.front-matter {
		display: flex;
		flex-direction: row;
		margin-top: 100px;
		justify-content: space-between;
	}

	.info {
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;
		justify-content: center;

		a {
			text-decoration: none;
		}

		* {
			display: flex;
			padding-right: 5px;
		}

		*:not(:last-child):after {
			content: ' | ';
		}
	}

	h4 {
		font-family: 'Gloria Hallelujah';
		font-size: 40px;
		margin-top: 0;
		color: $blue-chalk;
		text-shadow: 0 0 2px $blue-chalk;
	}

	.slogan {
		font-size: 35px;
		font-weight: normal;
		margin-top: 50px;
		margin-right: 50px;
		text-align: start;
		letter-spacing: 1px;
	}

	.logo {
		width: 375px;
		height: 375px;
	}
}

.google-map {
	height: 60vh;
	width: 100%;
}

.mobile {
	display: none;
}

.home{
	background: $dark;
	*{

		color: $light;
	}

	a, a:visited{
		color: $light;
	}
}

.about-snippets{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}

.about, .menu{
	background: $light;
	color: $dark;
	a, a:visited{
		color: $dark;
	}
}

.menu{
	.section{
		&:nth-child(2n+1){
			background: $dark;
			color: $light;
			.callout{
				color: $blue-chalk
			}
		}
		margin: 0;
	}
	ul{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-column-gap: 30px;
		grid-row-gap: 10px;
		padding: 0;
		padding-bottom: 1rem;
	}
	li{
		list-style: none;
	}

	h3{
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-style: bold;
		text-align: center;
	}

	h4{
		margin-top: 2rem;
		margin-bottom:.5rem;
	}
	p{
		font-style: italic;
		
	}

	strong{
		display: block;
		margin-bottom: .25rem;
	}

	
}


.callout{
	height: 0;
	width: 100%;
	text-align: right;
	
	h4{
		position: relative;
		transform: rotate(7deg) translateY(-80px);
		font-family: "Gloria Hallelujah";
		font-size: 40px;
	}
}

.login {
	form {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	input {
		color: $light;
		font-size: 12px;
		margin-bottom: 10px;
		padding: 10px 15px;
		border-radius: 1px;
		border: 2px solid $light;
		background-color: $dark;

		&:focus {
			color: $dark;
			background-color: $light;
			outline: none;
		}
	}

	.submit {
		background: $light;
		color: $dark;
		cursor: pointer !important;
	}
}

footer{

	background: $dark;
	color: $light;
	a, a:visited{
		color: $light;
		font-weight: normal;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	margin: 25px 0 50px;

	h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		// font-size: 13px;
		li {
			margin-left: 0;
			padding: 0;
			margin-bottom: 3px;
		}
	}

	.footer-logo {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 1300px) {
	.container{
		width: 800px;
	}

	.page-header{
		grid-template-columns: 1fr 800px 1fr;
	}

	.cover {
		.logo {
			width: 300px;
			height: 300px;
		}

		#slogan {
			font-size: 25px;
		}
	}
}
@media (max-width: 1000px) {
	.container {
		width: 100%;
		padding-left:90px ;
		padding-right:90px ;
	}

	.page-header{
		width: 100%;
		grid-template-columns: 90px 1fr 90px;
	}

	.cover {
		.front-matter {
			flex-direction: column;
			width: 100%;
			margin: 50px 0 0;
			padding: 0;
			align-items: center;
			
		}

		.container {
			padding: 0;
			align-items: center;
			justify-content: space-between;
		}

		.info {
			width: 100%;
			margin-bottom: 25px;
		}

		.logo {
			width: 250px;
			height: 250px;
			margin-top: 50px;
			margin-left: 0;
		}

		.slogan {
			font-size: 30px;
			margin-top: 50px;
			margin-right: 0;
			text-align: center;
		}
	}

	.daily-specials {
		.specials {
			grid-template-columns: 1fr;
		}
	}

	.nav {
		h3 {
			display: none;
		}
	}
}
// mobile
@media (max-width: 680px) {

	.nav{
		position: relative;
	}

	.small {
		display: none;
	}

	.mobile {
		display: inherit;
	}

	.container {
		display: flex;
		flex-direction: column;
		padding: 0 50px;
	}

	.toggleSwitch {
		a {
			color: $light;
			cursor: pointer;
			font-size: 35px;
		}
		width: 100%;
		justify-content: center;
		margin-top: 15px;
	}

	.cover {

		
		.logo {
			width: 170px;
			height: 170px;
			margin-top: 25px;
		}
		
		.container {
			height: 100vh;
			box-sizing: border-box;
			justify-content: space-between;
		}

		.front-matter {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 0;
			padding: 0;
		}

		.slogan {
			font-size: 30px;
			margin-right: 0;
			text-align: center;
		}

		h1 {
			margin-top: 20px;
			font-size: 48px;
		}

		h3 {
			font-size: 30px;
			text-align: center;
		}

		.info {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;

			* {
				display: block;
				margin-bottom: 5px;
				padding: 0;
			}

			*:not(:last-child):after {
				content: none;
			}
		}
	}

	.full-menu {
		.menu-item {
			width: 100%;

			&:nth-child(n) {
				padding: 0;
			}
		}
	}

	.nav {
		overflow: hidden;
		width: 100%;
		height: 230px;
		padding: 0;
		background: $dark;
		*{
			color: $light;
		}

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.links {
			flex-direction: column;
			align-items: center;
		}

		.navigation {
			* {
				font-size: 20px;
			}
		}

		h1 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		.navigation {
			ul {
				display: flex;
				flex-direction: column;
				margin-top: 0;
				padding: 0;
				align-items: center;

				li {
					font-size: 20px;
					margin-bottom: 10px;
					margin-left: 0;
				}
			}
		}

		.social {
			margin: 0;

			img {
				width: 20px;
				height: 20px;
			}
		}
	}

	.nav.collapsed {
		height: 0;
		min-height: 0;
	}

	.footer {
		flex-direction: column;
		align-items: center;
		margin-top: 40px;

		.footer-logo {
			display: none;
		}

		* {
			margin-bottom: 20px;
			text-align: center;
			// align-items: center;
		}
	}
	.space{
		display: none;
	}

}
