$green-chalk: #a3d39c;
$blue-chalk: #6dcff6;
$pink-chalk: #f49ac1;
$light: #eee;
$dark: #222;
$page-section-vertical-margin: 25px;

body {
	margin: 0;
	background: $dark;

	* {
		font-family: 'Slabo 27px', serif;
		color: $light;
		font-size: 15px;
		margin: 0;
	}

	a {
		text-decoration: none;
	}

	h1 {
		font-size: 32px;
	}

	h2 {
		font-size: 24px;
	}

	h3 {
		display: inherit;
		font-weight: normal;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: 17px;
	}

	p {
		line-height: 1.5em;
	}
}

.container {
	display: flex;
	box-sizing: border-box;
	width: 1200px;
	margin: 0 auto;
	padding: 0 125px;
	flex-direction: column;
}

.page-front-matter {
	display: flex;
	flex-direction: column;
	min-height: 300px;
	margin-bottom: $page-section-vertical-margin;
	justify-content: flex-end;

	h1 {
		margin: 10px auto;
	}
}

.page-content {
	margin: $page-section-vertical-margin 0;

	p {
		margin-bottom: 1rem;

		a {
			margin: 0 0.5ex;
		}
	}

	h2 {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
}

.background-image {
	width: 100%;
	background: url("/assets/Cow.jpg");
	background-size: cover;
	background-position: bottom;
}

.breakup {
	width: 100%;
	height: 60vh;
	object-fit: cover;
}

.wrapper {
	background-color: rgba(34, 34, 34, 0.65);
}

.nav {
	height: 11vh;
	min-height: 75px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-top: 5px;

	.container {
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: baseline;
	}

	#nav-title {
		display: flex;
		align-items: baseline;
	}

	a {
		text-decoration: none;
	}

	h3 {
		margin-left: 5px;
	}

	li {
		display: inline;
		margin-left: 15px;
	}

	.links {
		display: flex;
		flex-direction: row;
		align-items: baseline;
	}

	.social {
		margin-left: 10px;

		ul {
			padding: 0;
			margin: 0;

			li {
				padding: 0;
				margin: 0 4px;
			}
		}

		img {
			width: 15px;
			height: 15px;
			// box-shadow: 0 0 5px $lighteee;
		}
	}
}

.cover {
	.container {
		flex-direction: column;
		height: 89vh;
		min-height: 650px;
		padding: 0 125px;
		justify-content: space-between;
	}

	.front-matter {
		display: flex;
		flex-direction: row;
		margin-top: 100px;
		justify-content: space-between;
	}

	.info {
		display: flex;
		flex-direction: row;
		margin-bottom: 25px;
		justify-content: center;

		a {
			text-decoration: none;
		}

		* {
			display: flex;
			padding-right: 5px;
		}

		*:not(:last-child):after {
			content: ' | ';
		}
	}

	h4 {
		font-family: 'Gloria Hallelujah';
		font-size: 40px;
		margin-top: 0;
		color: $blue-chalk;
		text-shadow: 0 0 2px $blue-chalk;
	}

	.slogan {
		font-size: 35px;
		font-weight: normal;
		margin-top: 50px;
		margin-right: 50px;
		text-align: start;
		letter-spacing: 1px;
	}

	.logo {
		width: 375px;
		height: 375px;
	}
}

.google-map {
	height: 60vh;
	width: 100%;
}

.mobile {
	display: none;
}

.full-menu {
	.page-content {
		margin: 0;
	}

	.menu-section {
		// padding-top: 30px;
		padding-bottom: 2rem;

		.container {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.menu-section-title {
			margin-bottom: 20px;
		}
	}

	.menu-section:nth-child(2n+1) {
		background: $light;

		* {
			color: $dark;
		}
	}

	.menu-subsection {
		.menu-subsection-title {
			margin-top: 10px;
			margin-bottom: 20px;
		}

		.menu-subsection-banner {
			display: flex;
			justify-content: center;
		}
	}

	.menu-item {
		box-sizing: border-box;
		width: 50%;
		margin-bottom: 20px;
		flex-grow: 1;

		.menu-item-banner {
			display: flex;
			flex-direction: row;
			margin-bottom: 5px;
			justify-content: space-between;
			align-items: baseline;

			.fill {
				margin-left: 10px;
				border-bottom: 1px dashed;
				flex-grow: 1;
			}
		}

		.menu-item-desc {
			font-size: 14px;
			margin: 0;
		}

		.menu-item-price {
			font-weight: bold;
			display: flex;
			flex-direction: row;

			p {
				margin-left: 10px;
				margin-bottom: 0;
			}
		}

		.menu-item-add-ons {
			font-style: italic;
			margin-top: 5px;

			.menu-item-add-on {
				display: flex;
				flex-direction: row;

				p {
					font-size: 13px;
					margin: 0;
				}

				.menu-item-add-on-price {
					margin-left: 5px;

					&:before {
						content: '$';
					}
				}

				&:before {
					padding-right: 5px;
					content: '+';
				}
			}
		}

		&:nth-child(2n+1) {
			padding-right: 10px;
		}

		&:nth-child(2n) {
			padding-left: 10px;
		}

		&:last-child:nth-child(odd) {
			padding: 0;
		}
	}
}

.login {
	form {
		display: flex;
		flex-direction: column;
		margin-top: 50px;
	}

	input {
		color: $light;
		font-size: 12px;
		margin-bottom: 10px;
		padding: 10px 15px;
		border-radius: 1px;
		border: 2px solid $light;
		background-color: $dark;

		&:focus {
			color: $dark;
			background-color: $light;
			outline: none;
		}
	}

	.submit {
		background: $light;
		color: $dark;
		cursor: pointer !important;
	}
}

.footer {
	display: flex;
	justify-content: space-between;
	margin: 25px 0 50px;

	h3 {
		font-size: 15px;
		margin-bottom: 15px;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		// font-size: 13px;
		li {
			margin-left: 0;
			padding: 0;
			margin-bottom: 3px;
		}
	}

	.footer-logo {
		width: 100px;
		height: 100px;
	}
}

.daily-specials {
	padding: $page-section-vertical-margin 0;
	background-image: url('/assets/Chalkboard.jpg');
	background-size: cover;

	* {
		font-family: 'Gloria Hallelujah';
	}

	h2 {
		font-size: 32px;
	}

	.specials {
		display: flex;
		flex-wrap: wrap;
		// justify-content: center;
	}

	.special {
		display: flex;
		flex-direction: column;
		margin: 5px 0;
		width: 50%;

		.banner {
			display: flex;
			flex-direction: row;

			* {
				font-size: 24px;
			}

			.price {
				margin-left: 10px;
			}
		}

		.description {
			font-size: 16px;
		}
	}

	.blue {
		* {
			color: $blue-chalk;
		}
	}

	.green {
		* {
			color: $green-chalk;
		}
	}

	.pink {
		* {
			color: $pink-chalk;
		}
	}
}
@media (max-width: 1300px) {
	.container {
		width: 1000px;
	}

	.cover {
		.logo {
			width: 300px;
			height: 300px;
		}

		#slogan {
			font-size: 25px;
		}
	}
}
@media (max-width: 1000px) {
	.container {
		width: 100%;
	}

	.cover {
		.front-matter {
			flex-direction: column;
			width: 100%;
			margin: 50px 0 0;
			padding: 0;
			align-items: center;
		}

		.container {
			padding: 0;
			align-items: center;
			justify-content: space-between;
		}

		.info {
			width: 100%;
			margin-bottom: 25px;
		}

		.logo {
			width: 250px;
			height: 250px;
			margin-top: 50px;
			margin-left: 0;
		}

		.slogan {
			font-size: 30px;
			margin-top: 50px;
			margin-right: 0;
			text-align: center;
		}
	}

	.nav {
		h3 {
			display: none;
		}
	}
}
// mobile
@media (max-width: 680px) {
	.small {
		display: none;
	}

	.mobile {
		display: inherit;
	}

	.container {
		display: flex;
		flex-direction: column;
		padding: 0 50px;
	}

	.toggleSwitch {
		a {
			font-size: 35px;
		}
		width: 100%;
		justify-content: center;
		margin-top: 15px;
	}

	.cover {
		.logo {
			width: 200px;
			height: 200px;
			margin-top: 25px;
		}

		.container {
			height: 100vh;
			box-sizing: border-box;
			justify-content: space-between;
		}

		.front-matter {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			margin-top: 0;
			padding: 0;
		}

		.slogan {
			font-size: 30px;
			margin-right: 0;
			text-align: center;
		}

		h3 {
			font-size: 30px;
			text-align: center;
		}

		.info {
			display: flex;
			flex-direction: column;
			text-align: center;
			align-items: center;

			* {
				display: block;
				margin-bottom: 5px;
				padding: 0;
			}

			*:not(:last-child):after {
				content: none;
			}
		}
	}

	.full-menu {
		.menu-item {
			width: 100%;

			&:nth-child(n) {
				padding: 0;
			}
		}
	}

	.nav {
		overflow: hidden;
		width: 100%;
		height: 230px;
		padding: 0;
		transition: height 0.25s;

		.container {
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		.links {
			flex-direction: column;
			align-items: center;
		}

		.navigation {
			* {
				font-size: 20px;
			}
		}

		h1 {
			margin-top: 0;
			margin-bottom: 10px;
		}

		.navigation {
			ul {
				display: flex;
				flex-direction: column;
				margin-top: 0;
				padding: 0;
				align-items: center;

				li {
					font-size: 20px;
					margin-bottom: 10px;
					margin-left: 0;
				}
			}
		}

		.social {
			margin: 0;

			img {
				width: 20px;
				height: 20px;
			}
		}
	}

	.nav.collapsed {
		height: 0;
		min-height: 0;
	}

	.footer {
		flex-direction: column;
		align-items: center;
		margin-top: 40px;

		.footer-logo {
			display: none;
		}

		* {
			margin-bottom: 20px;
			text-align: center;
			// align-items: center;
		}
	}
}
