body {
  margin: 0;
  background: #222; }
  body * {
    font-family: 'Slabo 27px', serif;
    color: #eee;
    font-size: 15px;
    margin: 0; }
  body a {
    text-decoration: none; }
  body h1 {
    font-size: 32px; }
  body h2 {
    font-size: 24px; }
  body h3 {
    display: inherit;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 17px; }
  body p {
    line-height: 1.5em; }

.container {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  margin: 0 auto;
  padding: 0 125px;
  flex-direction: column; }

.breakup {
  max-height: 350px;
  overflow: hidden;
  width: 100%;
  object-fit: cover;
  opacity: 0.8; }

.page-front-matter {
  display: flex;
  flex-direction: column;
  min-height: 300px;
  margin-bottom: 25px;
  justify-content: flex-end; }
  .page-front-matter h1 {
    margin: 10px auto; }

.page-content {
  margin: 25px 0; }
  .page-content p {
    margin-bottom: 1rem; }
    .page-content p a {
      margin: 0 0.5ex; }
  .page-content h2 {
    margin-top: 2rem;
    margin-bottom: 1rem; }

.background-image {
  width: 100%;
  background: url("/assets/Cow.jpg");
  background-size: cover;
  background-position: bottom; }

.breakup {
  width: 100%;
  height: 60vh;
  object-fit: cover; }

.wrapper {
  background-color: rgba(34, 34, 34, 0.65); }

.nav {
  height: 11vh;
  min-height: 75px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 5px; }
  .nav .container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline; }
  .nav #nav-title {
    display: flex;
    align-items: baseline; }
  .nav a {
    text-decoration: none; }
  .nav h3 {
    margin-left: 5px; }
  .nav li {
    display: inline;
    margin-left: 15px; }
  .nav .links {
    display: flex;
    flex-direction: row;
    align-items: baseline; }
  .nav .social {
    margin-left: 10px; }
    .nav .social ul {
      padding: 0;
      margin: 0; }
      .nav .social ul li {
        padding: 0;
        margin: 0 4px; }
    .nav .social img {
      width: 15px;
      height: 15px; }

.cover .container {
  flex-direction: column;
  height: 89vh;
  min-height: 650px;
  padding: 0 125px;
  justify-content: space-between; }

.cover .front-matter {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-between; }

.cover .info {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: center; }
  .cover .info a {
    text-decoration: none; }
  .cover .info * {
    display: flex;
    padding-right: 5px; }
  .cover .info *:not(:last-child):after {
    content: ' | '; }

.cover h4 {
  font-family: 'Gloria Hallelujah';
  font-size: 40px;
  margin-top: 0;
  color: #6dcff6;
  text-shadow: 0 0 2px #6dcff6; }

.cover .slogan {
  font-size: 35px;
  font-weight: normal;
  margin-top: 50px;
  margin-right: 50px;
  text-align: start;
  letter-spacing: 1px; }

.cover .logo {
  width: 375px;
  height: 375px; }

.google-map {
  height: 60vh;
  width: 100%; }

.mobile {
  display: none; }

.full-menu .page-content {
  margin: 0; }

.full-menu .menu-section {
  padding-bottom: 2rem; }
  .full-menu .menu-section .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .full-menu .menu-section .menu-section-title {
    margin-bottom: 20px; }
  .full-menu .menu-section .menu-section-note {
    width: 100%;
    display: flex;
    justify-content: center; }
    .full-menu .menu-section .menu-section-note h3 {
      margin-top: 10px; }

.full-menu .menu-section:nth-child(2n+1) {
  background: #eee; }
  .full-menu .menu-section:nth-child(2n+1) * {
    color: #222; }

.full-menu .menu-subsection .menu-subsection-title {
  margin-top: 10px;
  margin-bottom: 20px; }

.full-menu .menu-subsection .menu-subsection-banner {
  display: flex;
  justify-content: center; }

.full-menu .menu-item {
  box-sizing: border-box;
  width: 50%;
  margin-bottom: 20px;
  flex-grow: 1; }
  .full-menu .menu-item .menu-item-banner {
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: baseline; }
    .full-menu .menu-item .menu-item-banner .fill {
      margin-left: 10px;
      border-bottom: 1px dashed;
      flex-grow: 1; }
  .full-menu .menu-item .menu-item-desc {
    font-size: 14px;
    margin: 0; }
  .full-menu .menu-item .menu-item-price {
    font-weight: bold;
    display: flex;
    flex-direction: row; }
    .full-menu .menu-item .menu-item-price p {
      margin-left: 10px;
      margin-bottom: 0; }
  .full-menu .menu-item .menu-item-add-ons {
    font-style: italic;
    margin-top: 5px; }
    .full-menu .menu-item .menu-item-add-ons .menu-item-add-on {
      display: flex;
      flex-direction: row; }
      .full-menu .menu-item .menu-item-add-ons .menu-item-add-on p {
        font-size: 13px;
        margin: 0; }
      .full-menu .menu-item .menu-item-add-ons .menu-item-add-on .menu-item-add-on-price {
        margin-left: 5px; }
        .full-menu .menu-item .menu-item-add-ons .menu-item-add-on .menu-item-add-on-price:before {
          content: '$'; }
      .full-menu .menu-item .menu-item-add-ons .menu-item-add-on:before {
        padding-right: 5px;
        content: '+'; }
  .full-menu .menu-item:nth-child(2n+1) {
    padding-right: 10px; }
  .full-menu .menu-item:nth-child(2n) {
    padding-left: 10px; }
  .full-menu .menu-item:last-child:nth-child(odd) {
    padding: 0; }

.login form {
  display: flex;
  flex-direction: column;
  margin-top: 50px; }

.login input {
  color: #eee;
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 1px;
  border: 2px solid #eee;
  background-color: #222; }
  .login input:focus {
    color: #222;
    background-color: #eee;
    outline: none; }

.login .submit {
  background: #eee;
  color: #222;
  cursor: pointer !important; }

.footer {
  display: flex;
  justify-content: space-between;
  margin: 25px 0 50px; }
  .footer h3 {
    font-size: 15px;
    margin-bottom: 15px; }
  .footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .footer ul li {
      margin-left: 0;
      padding: 0;
      margin-bottom: 3px; }
  .footer .footer-logo {
    width: 100px;
    height: 100px; }

.daily-specials {
  padding: 25px 0;
  background-image: url("/assets/Chalkboard.jpg");
  background-size: cover; }
  .daily-specials * {
    font-family: 'Gloria Hallelujah'; }
  .daily-specials h2 {
    font-size: 32px; }
  .daily-specials .specials {
    display: flex;
    flex-wrap: wrap; }
  .daily-specials .special {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    flex: 1; }
    .daily-specials .special .banner {
      display: flex;
      flex-direction: row; }
      .daily-specials .special .banner * {
        font-size: 24px; }
      .daily-specials .special .banner .price {
        margin-left: 10px; }
    .daily-specials .special .description {
      font-size: 16px; }
  .daily-specials .blue * {
    color: #6dcff6; }
  .daily-specials .green * {
    color: #a3d39c; }
  .daily-specials .pink * {
    color: #f49ac1; }
  .daily-specials input {
    color: #222;
    background: #eee;
    padding: 5px 10px;
    border-color: #222;
    border: 2px solid #222; }
  .daily-specials .button {
    color: #222;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 1px;
    cursor: pointer; }

@media (max-width: 1300px) {
  .container {
    width: 1000px; }
  .cover .logo {
    width: 300px;
    height: 300px; }
  .cover #slogan {
    font-size: 25px; } }

@media (max-width: 1000px) {
  .container {
    width: 100%; }
  .cover .front-matter {
    flex-direction: column;
    width: 100%;
    margin: 50px 0 0;
    padding: 0;
    align-items: center; }
  .cover .container {
    padding: 0;
    align-items: center;
    justify-content: space-between; }
  .cover .info {
    width: 100%;
    margin-bottom: 25px; }
  .cover .logo {
    width: 250px;
    height: 250px;
    margin-top: 50px;
    margin-left: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-top: 50px;
    margin-right: 0;
    text-align: center; }
  .nav h3 {
    display: none; } }

@media (max-width: 680px) {
  .small {
    display: none; }
  .mobile {
    display: inherit; }
  .container {
    display: flex;
    flex-direction: column;
    padding: 0 50px; }
  .toggleSwitch {
    width: 100%;
    justify-content: center;
    margin-top: 15px; }
    .toggleSwitch a {
      font-size: 35px; }
  .cover .logo {
    width: 170px;
    height: 170px;
    margin-top: 25px; }
  .cover .container {
    height: 100vh;
    box-sizing: border-box;
    justify-content: space-between; }
  .cover .front-matter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    padding: 0; }
  .cover .slogan {
    font-size: 30px;
    margin-right: 0;
    text-align: center; }
  .cover h1 {
    margin-top: 20px;
    font-size: 48px; }
  .cover h3 {
    font-size: 30px;
    text-align: center; }
  .cover .info {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .cover .info * {
      display: block;
      margin-bottom: 5px;
      padding: 0; }
    .cover .info *:not(:last-child):after {
      content: none; }
  .full-menu .menu-item {
    width: 100%; }
    .full-menu .menu-item:nth-child(n) {
      padding: 0; }
  .nav {
    overflow: hidden;
    width: 100%;
    height: 230px;
    padding: 0;
    transition: height 0.25s; }
    .nav .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
    .nav .links {
      flex-direction: column;
      align-items: center; }
    .nav .navigation * {
      font-size: 20px; }
    .nav h1 {
      margin-top: 0;
      margin-bottom: 10px; }
    .nav .navigation ul {
      display: flex;
      flex-direction: column;
      margin-top: 0;
      padding: 0;
      align-items: center; }
      .nav .navigation ul li {
        font-size: 20px;
        margin-bottom: 10px;
        margin-left: 0; }
    .nav .social {
      margin: 0; }
      .nav .social img {
        width: 20px;
        height: 20px; }
  .nav.collapsed {
    height: 0;
    min-height: 0; }
  .footer {
    flex-direction: column;
    align-items: center;
    margin-top: 40px; }
    .footer .footer-logo {
      display: none; }
    .footer * {
      margin-bottom: 20px;
      text-align: center; } }
